# ======================
# Node.js
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# Environment variables
# ======================
.env
.env.local
.env.*.local

# ======================
# Build output
# ======================
dist/
build/

# ======================
# Prisma / local DB
# ======================
prisma/dev.db

# ======================
# Docker volumes
# ======================
dbdata/

# ======================
# OS junk
# ======================
.DS_Store
Thumbs.db

/src/generated/prisma
